/* work sans from is here  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* share styles */

* {
    font-family: "Work Sans", sans-serif;
}


.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
}


.btn-primary{
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

/* header style */

header{
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px, 240px ;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}



nav > ul {
    display: flex;
}
nav  li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    

}
nav li a {
    text-decoration: none;
}


/* banner styles */



.banner-content{
    align-items: center;
    max-width: 800;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-info{
    color: #727272;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}


/* main section  */

.main{
    max-width: 1440px;
    padding: 0 auto;
}


/* teams style */


.tems-container{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.teme-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 32px;

}
.team-title .q-list {
    color: #727272;
    font-weight: 500;

}
.team-title .fea {
    color: #FF900E;
    font-weight: 500;

}

/* facts style */

.facts-card-container{
    display: flex;
    justify-content: space-around;
    

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;


}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-weight: 600px;
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.spons-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 15px;
}
.spons-para{
    font-size: 1.5rem;
    font-weight: 500;
    color: #727272;
    text-align: center;
}
.spon-img-container{
    display: flex;
    justify-content:space-evenly;
    margin: 50px;
    gap: 40px;
    align-items: center;
    
}
.spon-img-container img{
    width: 165px;
}

.footer-text{
    font-size: 1.5rem;
    font-weight: 500px;
    color: #000000;
    background-color: rgb(255, 144, 14, 0.10);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 50px;
}



/* responsive style */

@media screen and (max-width: 576px) {
    .header{
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }

    .tems-container{
        flex-direction: column;
    }
    .facts-card-container, 
    .spon-img-container
    {
        flex-direction: column;
       
    }

    .team-title{
        font-size: 15px;
    }
   .teme-img{
    grid-template-columns: none;
   }
   
    
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    
    nav {
        flex-direction: column;
    }

    .tems-container{
        flex-direction: column;
    }

  
}

